header{
    top: 0 ;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    height: 60px;
    background-color: #77be00;
    font-family: "Roboto", sans-serif;
    size: 17pt;
    z-index: 2;
    button{
        background-color: #77be00;
    }
  
}